.help {
    &__title {
        width: 886px;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        &-main {
            font-weight: 500;
            font-size: 36px;
            line-height: 42px;
            padding-bottom: 15px;
        }
        &-submain {
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
        }
    }
}