<footer class="footer">
    <div class="footer__wrapper container">
        <div class="footer__items">

            <div class="footer__logo">
                <div class="header__logo">
                    LOGO
                </div>
                <div class="footer__logo-text">
                    <p>Wir sind Ihr Helfer in Not in Sachen Schlüsseldienst. Zu jeder Tages- und Nachtzeit für Sie da!</p>
                </div>
                <div class="footer__logo-social">
                    <img src="../../img/inst.svg" alt="">
                    <img src="../../img/tw.svg" alt="">
                    <img src="../../img/аи.svg" alt="">
                </div>
            </div>

            <div class="footer__links-wrapper">

                <div class="footer__links">
                    <div class="footer__links-title">
                        <h3>Stadtteile</h3>
                    </div>
                    <div class="footer__links-link">
                        <ul>
                            <li>
                                <a href="">Innenstadt</a>
                            </li>
                            <li>
                                <a href="">Rodenkirchen</a>
                            </li>
                            <li>
                                <a href="">Lindenthal</a>
                            </li>
                            <li>
                                <a href="">Nippes</a>
                            </li>
                            <li>
                                <a href="">Chorweiler</a>
                            </li>
                            <li>
                                <a href="">Porz</a>
                            </li>
                            <li>
                                <a href="">Kalk</a>
                            </li>
                            <li>
                                <a href="">Mülheim</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            <div class="footer__links">
                <div class="footer__links-title">
                    <h3>Leistungen</h3>
                </div>
                <div class="footer__links-link">
                    <ul>
                        <li>
                            <a href="">Türöffnung</a>
                        </li>
                        <li>
                            <a href="">Tresoröffnung</a>
                        </li>
                        <li>
                            <a href="">Einbruchschutz</a>
                        </li>
                        <li>
                            <a href="">Sicherheitstechnik</a>
                        </li>
                        <li>
                            <a href="">Schlüssel nach machen</a>
                        </li>
                        <li>
                            <a href="">Autoschlüssel</a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
            <div class="footer__contact">
                <div class="footer__contact-title">
                    <h3>Kontakt</h3>
                </div>
                <div class="footer__contact-text">
                    <p class="footer__contact-textmain">Melden Sie sich für unseren Newsletter an und erhalten Sie die neuesten Tipps per E-Mail.</p>
                    <p class="footer__contact-submain">Ihre E-Mail-Adresse <span>*</span></p>
                </div>
                <div class="footer__contact-email">
                    <div class="footer__contact-inputBtn">
                        <input class="footer__contact-input" type="text" placeholder="Ihre E-Mail-Adresse">
                        <button class="btn__a footer__contact-btn" type="button">Anmelden</button>
                    </div>
                    <div class="footer__contact-btns">
                        <button class="btn__i footer__contact-btn" type="button">Imprssum</button>
                        <button class="btn__d footer__contact-btn" type="button">Datenschutz</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
