<section class="google">
    <div class="google__wrapper container">
        <div class="google__left">
            <div class="google__left-img">
                <img src="../../img/google.webp" alt="">
            </div>
            <div class="google__left-title">
                <p class="google__left-text1">schluesseldienst-koeln-24.de</p>
                <p class="google__left-text2">Ausgezeichnet</p>
                <p class="google__left-text3">4,9 von 5,0 aus 183 Bewertungen</p>
            </div>
        </div>
        <div class="google__right">
            <div class="google__right-items">
                <p class="google__right-item">24 Std. Service</p>
                <p class="google__right-item">Türöffnung ohne Schäden</p>
                <p class="google__right-item">Aufsperrdienst mit 24 Std. Service</p>
                <p class="google__right-item">In 10 – 30 Minuten vor Ort</p>
            </div>
        </div>
        <div class="google__btn btn__number">
            01579 2395837
        </div>
    </div>
</section>