<html lang="@@lang">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, initial-scale=1.0">
	<meta name="description"
				content="@@description">
	<meta name="keywords"
				content="@@keywords">
	<link rel="shortcut icon"
				href="@@favicon.svg"
				type="image/svg+xml">
	<link rel="shortcut icon"
				href="@@favicon.webp"
				type="image/webp">
	<link rel="shortcut icon"
				href="@@favicon.png"
				type="image/x-icon">
	<link rel="stylesheet"
				href="css/libs.min.css">
	<link rel="stylesheet"
				href="css/style.min.css">
	<title>@@title</title>
	<body>
		<header class="header">
			<div class="header__wrapper ">
				<div class="header__main container">
					<div class="header__logo">
						<a href="">LOGO</a>
					</div>
	
					<div class="header__menu">
						<nav class="header__menu-body">
							<ul class="header__menu-list">
								<li class="header__menu-item">
									<a href="" class="header__menu-link">Startseite</a>
								</li>
								<li class="header__menu-item">
									<a href="" class="header__menu-link">Einsatzgebiet</a>
								</li>
								<li class="header__menu-item">
									<a href="" class="header__menu-link">Leistungen</a>
								</li>
								<li class="header__menu-item">
									<a href="" class="header__menu-link">Über uns</a>
								</li>
								<li class="header__menu-item">
									<a href="" class="header__menu-link">Kontakt</a>
								</li>
								<li class="header__menu-item">
									<a href="" class="header__menu-link btn__number">01579 2395837</a>
								</li>
							</ul>
						</nav>
					</div>
					<button class="header__btn button" type="button">
						<span class="btn__span1"></span>
						<span class="btn__span2"></span>
						<span class="btn__span3"></span>
					</button>
				</div>
			</div>
			
		</header>
	</body>
</head>
