<header class="header">
    <div class="header__hero">
        <div class="header__hero-content container">

            <div class="header__left">
                <div class="header__title">
                    <h1 class="header__title-main">
                        Schlüsseldienst Köln
                    </h1>
                    <p class="header__title-submain">in 15-30 Minuten vor Ort</p>
                    <p class="header__title-submain">24h Schlüsselnotdienst</p>
                    <p class="header__title-submain">Türöffnung ohne Schäden</p>
                    <p class="header__title-submainlast">Der Schlüsseldienst Köln öffnet jede Tür ohne Schlüssel ab <span>39,-€</span></p>
                </div>
                <div class="btn__number">01579 2395837</div>
            </div>
            <div class="header__right">
                <img src="../../img/headerman.png" alt="">
            </div>
        </div>
    </div>
</header>
