<section class="help">
    <div class="help__wrapper container">
        <div class="help__title">
            <h2 class="help__title-main">
                So können Sie handeln, um unsere Hilfe zu bekommen.
            </h2>
            <p class="help__title-submain">
                Wir haben für Sie alle Schritte aufgelistet, die Sie durchführen müssen, um stresslos an den <span>Schlüsseldienst Köln</span> zu kommen.
            </p>
        </div>

        <div class="help__hero">
            <div class="help__hero-inner">
                <div class="help__hero-items">
                    <div class="help__hero-item">
                        <div class="help__hero-header">
                            <p>Kontaktaufnahme</p>
                        </div>
                        <div class="help__hero-content">
                            <p>Überprüfen Sie die Arbeitsqualität. Wir werden uns freuen, wenn Sie uns weiterempfehlen.</p>
                        </div>  
                    </div>

                    <div class="help__hero-item">
                        <div class="help__hero-header">
                            <p>Vorbereitung</p>
                        </div>
                        <div class="help__hero-content">
                            <p>Überprüfen Sie die Arbeitsqualität. Wir werden uns freuen, wenn Sie uns weiterempfehlen.</p>
                        </div>  
                    </div>

                    <div class="help__hero-item">
                        <div class="help__hero-header">
                            <p>Arbeitsdurchführung</p>
                        </div>
                        <div class="help__hero-content">
                            <p>Überprüfen Sie die Arbeitsqualität. Wir werden uns freuen, wenn Sie uns weiterempfehlen.</p>
                        </div>  
                    </div>

                    <div class="help__hero-item">
                        <div class="help__hero-header">
                            <p>Arbeitsende</p>
                        </div>
                        <div class="help__hero-content">
                            <p>Überprüfen Sie die Arbeitsqualität. Wir werden uns freuen, wenn Sie uns weiterempfehlen.</p>
                        </div>  
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>