<section class="prise">
    <div class="prise__wrapper container">
        <div class="prise__title">
            <h2 class="prise__title-main">Preise</h2>
            <p class="prise__title-submain">Die Preise für unseren <span>Schlüsseldienst Köln</span> sind niedriger als der empfohlene Mittelwert. Wir optimieren unsere Arbeit die ganze Zeit. Wir haben es geschafft, dass ein Durchschnittsmensch sich qualitativen Schlüsseldienst leisten kann. Der Schlüsseldienst ist etwas, worauf man nicht verzichten kann, wenn er gebraucht wird. So ist unser ganzes System darauf bestrebt, die Kosten für unseren Dienst günstig zu halten. </p>
        </div>
        <div class="prise__cards-wrapper">
            <div class="prise__card">
                <div class="prise__card-inner">
                    <h3 class="prise__card-title">Türöffnung</h3>
                    <p class="prise__card-prise"> ab 37 € </p>
                    <p class="prise__card-subtitle">24 Std. Service <br>Ohne Schäden <br>Schnell vor Ort</p>
                    <button class="prise__card-btn" type="button">Mehr erfahren</button>
                </div>
            </div>

            <div class="prise__card">
                <div class="prise__card-inner">
                    <h3 class="prise__card-title">Türöffnung</h3>
                    <p class="prise__card-prise">  ab 75 €  </p>
                    <p class="prise__card-subtitle">Geringe Kosten <br>Kostenlose Anfahrt <br>Schonende Öffnungsmethoden</p>
                    <button class="prise__card-btn" type="button">Mehr erfahren</button>
                </div>
            </div>

            <div class="prise__card">
                <div class="prise__card-inner">
                    <h3 class="prise__card-title">Einbruchschutz</h3>
                    <p class="prise__card-prise">  ab 65 €  </p>
                    <p class="prise__card-subtitle">Geringe Kosten <br>24 Std. Service <br>Keine Kosten vor Sichtung vor Ort</p>
                    <button class="prise__card-btn" type="button">Mehr erfahren</button>
                </div>
            </div>
        </div> 
    </div>
</section>