<section class="review">
    <div class="review__wrapper container">
        <div class="review__title">
            <p>Bewertungen</p>
        </div>
        <div class="review__items-wrapper">
            <div class="review__items">
                <div class="review__item">
                    <div class="review__item-inner">
                        <div class="review__item-about">
                            <div class="review__item-person">
                                <div class="review__item-photo">
                                    <img src="../../img/caitlin.svg" alt="">
                                </div>
                                <div class="review__item-name">
                                    <p>Kian k.</p>
                                </div>
                                
                            </div>
                            <div class="review__item-date">
                                <p>6 mounth ago</p>
                            </div>
                        </div>
                        <div class="review__item-text">
                            <p>Finally, competent service in London. Unfortunately, I had often needed a locksmith and until now had rather unpleasant experiences.
                                However, London locksmith has met all of my expectations.
                                The dispatcher was extremely friendly, and the locksmith seemed to know his job.</p>
                        </div>
                    </div>
                </div>

                <div class="review__item">
                    <div class="review__item-inner">
                        <div class="review__item-about">
                            <div class="review__item-person">
                                <div class="review__item-photo">
                                    <img src="../../img/rachel.svg" alt="">
                                </div>
                                <div class="review__item-name">
                                    <p>Rachel E.</p>
                                </div>
                                
                            </div>
                            <div class="review__item-date">
                                <p>2 mounth ago</p>
                            </div>
                        </div>
                        <div class="review__item-text">
                            <p>I called these guys in hopes they would do a good job on replacing my door locks. I must say, the locksmith, if I remember correctly, his name is John, handled the job with ease, and my locks are working perfectly up to the present moment. Thanks a bunch!</p>
                        </div>
                    </div>
                </div>

                <div class="review__item">
                    <div class="review__item-inner">
                        <div class="review__item-about">
                            <div class="review__item-person">
                                <div class="review__item-photo">
                                    <img src="../../img/kian.svg" alt="">
                                </div>
                                <div class="review__item-name">
                                    <p>Kian k.</p>
                                </div>
                                
                            </div>
                            <div class="review__item-date">
                                <p>6 mounth ago</p>
                            </div>
                        </div>
                        <div class="review__item-text">
                            <p>Had troubles opening my door lock once in a while. I decided to take care of the business before it gets worse. As I don't know much about locks, I called this company. The locksmith came to me in 20 minutes, checked the lock, and told me it needs cleaning. He finished the job in a few minutes. Must say I'm pleased with the level of service. They are somebody I can rely on. Definitely recommend them.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>