<section class="review">
    <div class="review__wrapper container">
        <div class="review__title">
            <h2>Bewertungen</h1>
        </div>
        <div class="review__items-wrapper">
            <div class="review__items">
                <div class="review__item">
                    <div class="review__item-inner">
                        <div class="review__item-about">
                            <div class="review__item-person">
                                <img src="../../img/caitlin.svg" alt="">
                                <p>Kian k.</p>
                                <img src="../../img/stars.svg" alt="">
                            </div>
                            <div class="review__item-date">
                                <p>6 mounth ago</p>
                            </div>
                        </div>
                        <div class="review__item-text">
                            <p>Had troubles opening my door lock once in a while. I decided to take care of the business before it gets worse. As I don't know much about locks, I called this company. The locksmith came to me in 20 minutes, checked the lock, and told me it needs cleaning. He finished the job in a few minutes. Must say I'm pleased with the level of service. They are somebody I can rely on. Definitely recommend them.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>