<section class="skills">
    <div class="skills__wrapper container">

        <div class="skills__up">
            <div class="skills__title">
                <h2 class="skills__title-main">Unsere Vorteile</h2>
                <p class="skills__title-submain">Wir schämen uns nicht, unsere Vorteile vorzuweisen, da wir sehr stolz auf diese sind. Hier einige, von denen Sie profitieren können:</p>
            </div>
        </div>
        <div class="skills__down">
            <div class="skills__down-left">
                <div class="skills__down-title">
                    <div class="skills__down-text">
                        <h3>Durchdachtes Arbeitssystem</h3>
                        <p>Nur dank der richtigen Strukturierung der Arbeit haben wir es geschafft, an unnötigem Arbeitsaufwand zu sparen. Somit halten wir unseren Endpreis außerordentlich günstig.</p>
                    </div>
                    
                    <div class="skills__down-text">
                        <h3>Einfache Erreichbarkeit</h3>
                        <p>Sie müssen uns nirgendwo suchen. Wir finden Sie selbst. Dafür reicht nur ein Anruf Ihrerseits. Sie können uns jederzeit kontaktieren, denn wir arbeiten 24 Stunden am Tag. Selbst an Feiertagen eilen wir zu Ihnen, um Sie in Ihr Haus zu lassen.</p>
                    </div>
                    
                    <div class="skills__down-text">
                        <h3>Erfahrung</h3>
                        <p>Wir sammeln schon 8 Jahre lang Erfahrung. So lange sind wir schon als Schlüsseldienst in Köln tätig. Wir haben schon so ziemlich alle Fälle gesehen und finden uns schnell zurecht. In Ihrem Fall können wir ganz bestimmt auch helfen..</p>
                    </div>
                </div>
            </div>
    <div class="skills__down-middle">
        <img src="../../img/skillsman.png" alt="">
    </div>
    <div class="skills__down-right">
        <div class="skills__down-title">
            <div class="skills__down-text">
                <h3>Schnelle und genaue Diagnostik</h3>
                <p>Ohne die richtige Diagnostik ist es nicht möglich, die richtige Lösung zu finden. Wenn das Problem nicht korrekt ausfindig gemacht wird, könnte man ein nicht vorhandenes Problem behandeln und das richtige Problem könnte dabei unbemerkt bleiben. Die Diagnostik von einem Profi spart daher Zeit, Geld und Aufwand.</p>
            </div>
            
            <div class="skills__down-text">
                <h3>Sicherheit</h3>
                <p>Wir schätzen die Sicherheit unserer Kunden. Nur geprüfte Mitarbeiter schicken wir an Ihre Tür. Wir bürgen für sie und ihre Taten..</p>
            </div>
            
            <div class="skills__down-text">
                <h3>Hohe Qualität</h3>
                <p>Überzeugen Sie sich von der Qualität der Arbeit, solange der Fachmann noch bei Ihnen ist. Schauen Sie, ob alles gut funktioniert. Auch das Aussehen ist wichtig. Suchen Sie ruhig Kratzer und Beschädigungen. Wir schämen uns nicht für unsere Arbeit.</p>
            </div>
        </div>
    </div>
</div>    
</div>
</section>